@{
    ViewBag.Title = "Contact";
}
<div>
    <table class="table table-bordered table-striped">
        <tr>
            <th width="20%">Year</th>
            <th width="20%">Make</th>
            <th width="20%">Model</th>
            <th width="20%">Color</th>
            <th width="20%">Price</th>
        </tr>
        @for (int i = 0; i < ViewBag.Cars.Count; i++)
            {
            <tr>
                <td>@ViewBag.Cars[i]["Make"]</td>
                <td>@ViewBag.Cars[i]["Model"]</td>
                <td>
                    @ViewBag.Cars[i]["Color"]
                </td>
                <td>
                    @ViewBag.Cars[i]["Year"]
                </td>

                <td>
                    $@ViewBag.Cars[i]["Price"]
                </td>
            </tr>
        }
    </table>
</div>