
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<form action="/Home/Contact" method="get">
    <input type="text" name="make">
    <input type="submit" value="Search" class="btn btn-block">
</form>